$base-color: white;
$font-stack: 'Roboto', sans-serif;
$h1-size: 36px;
$margin-body: 8px;
$padding-thick: 48px;
$padding-normal: 24px;
$padding-thin: 12px;
$shadow-color: #202020;

$screen-small: 360px;
$screen-medium: 768px;

html {
  background-size: cover;
  color: $base-color;
  font-family: $font-stack;
  font-size: $font-stack;
  height:100%;

  body {
    height: 100%;
    margin: 0 $margin-body 0 $margin-body;
    @media screen and (min-width: $screen-small - $margin-body)
    and (max-width: $screen-medium - $margin-body) {
      padding: 0 $padding-normal 0 $padding-normal;
    }
    @media screen and (min-width: $screen-medium - $margin-body) {
      padding: 0 $padding-thick 0 $padding-thick;
    }
  }
}

h1 {
  font-size: $h1-size;
  margin: 0;
  padding-top: $padding-normal;
  @media screen and (min-width: $screen-medium - $margin-body) {
    padding-top: $padding-thick;
  }
}

#footer {
  bottom: 0;
  padding-bottom: $padding-thin;
  position: absolute;
}

.text-shadow {
  text-shadow: 0px 1px 2px $shadow-color;
}